
<router-outlet></router-outlet>
<div class="container">

  <h1>This is heading 1</h1>
  <h2>This is heading 2</h2>
  <h3>This is heading 3</h3>
  <h4>This is heading 4</h4>
  <h5>This is heading 5</h5>
  <h6>This is heading 6</h6>

  <br>
  <hr class="style1">
  <br>

  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In enim a arcu imperdiet malesuada. Integer rutrum, orci vestibulum ullamcorper ultricies, lacus quam ultricies odio, vitae placerat pede sem sit amet enim. Praesent vitae arcu tempor neque lacinia pretium. Aliquam erat volutpat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Suspendisse nisl. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Et harum quidem rerum facilis est et expedita distinctio.

    Phasellus enim erat, vestibulum vel, aliquam a, posuere eu, velit. Mauris elementum mauris vitae tortor. Etiam commodo dui eget wisi. Quisque tincidunt scelerisque libero. Phasellus et lorem id felis nonummy placerat. Nulla non arcu lacinia neque faucibus fringilla. Nullam sapien sem, ornare ac, nonummy non, lobortis a enim. Praesent in mauris eu tortor porttitor accumsan. Fusce consectetuer risus a nunc. Etiam quis quam. Etiam posuere lacus quis dolor. Nullam dapibus fermentum ipsum. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? Sed ac dolor sit amet purus malesuada congue.</p>

  <br>
  <hr class="style1">
  <br>
  <div>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-dark">Dark</button>
    <button type="button" class="btn btn-light">Light</button>
  </div>

  <div>
    <button type="button" class="btn btn-outline-primary">Primary</button>
    <button type="button" class="btn btn-outline-secondary">Secondary</button>
    <button type="button" class="btn btn-outline-danger">Danger</button>
    <button type="button" class="btn btn-outline-dark">Dark</button>
    <button type="button" class="btn btn-outline-light">Light</button>

  </div>



  <br>
  <hr class="style1">
  <br>

  <h2>Login</h2>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-danger">Submit</button>
  </form>

  <br>
  <hr class="style1">
  <br>

  <h2>Register</h2>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password confirmation</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-grass">Submit</button>
  </form>

  <br>
  <hr class="style1">
  <br>

  <div>
    <div class="cards">
      <div class="cards-up">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link text-grass">Card link</a>
            <a href="#" class="card-link text-grass">Another link</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <hr class="style1">
  <br>

  <h2>Table</h2>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">E-mail</th>
      <th scope="col">Phone Number</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>SmileyFace</td>
      <td class="text-dark">:).:)@:).:)</td>
      <td>453 098 345</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>SmileyFace</td>
      <td class="text-secondary">:).:)@:).:)</td>
      <td>789 987 654</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>SmileyFace</td>
      <td class="text-primary">:).:)@:).:)</td>
      <td>354 645 724</td>
    </tr>
    </tbody>
  </table>

  <br>
  <hr class="style1">
  <br>

  <h2>Spinner</h2>
  <div class="spinner-border text-grass" role="status">
    <span class="sr-only">Loading...</span>
  </div>

</div>
